body{
    margin: 0;
    padding: 0;
}

section{
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    position: relative;
}

section button{
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    background-color: lightblue;
}

img, button{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

img{
    display: none;
}

button:hover ~img{
    display: inline;
}