div{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 100vh;
    display: inline-block;
    top: 0;
    background-color: wheat;
}

.label{
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.label--name{
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.input{
    position: absolute;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}